.home{
    height: 100%;
    padding-top: 40vh;
    overflow: hidden;
    // background-image:url("/images/roman-synkevych-UT8LMo-wlyk-unsplash.jpg") ;
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-attachment: fixed;
    // background-blend-mode:normal;
    align-items: center;
    text-align: center;
    // styling nested elements
    &_name{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 5rem;
        padding-bottom: 1rem;
        margin-top: 1rem;
        color: limegreen;
        z-index: 1;
    }
    
}
