.home{
    height: 100%;
    padding-top: 40vh;
    overflow: hidden;
    align-items: center;
    text-align: center;
    // styling nested elements
    &_name{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 5rem;
        padding-bottom: 1rem;
        margin-top: 1rem;
        color: limegreen;
        z-index: 1;
    }
    
}
